---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Página no encontrada - Nexxdi Cash">
  <script is:inline>
    // Redirigir a la página de PIN
    window.location.href = '/pin';
  </script>
  <div style="display: flex; align-items: center; justify-content: center; height: 100vh;">
    <p>Redirigiendo...</p>
  </div>
</Layout>
